<<div class="footer-area" data-bg-image="assets/images/footer/bg/1-1920x465.jpg">
    <div class="footer-top section-space-top-40 pb-40">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="footer-widget-item">
                        <div class="footer-widget-logo">
                            <a href="index.html">
                                <img src="assets/images/Logo3-Nospace.png" alt="Logo" style="padding-top: 30px;">
                            </a>
                        </div>
                        <p class="footer-widget-desc">
                            Tận tâm, chu đáo
                            <br>
                            Sự hài lòng của quý khách là niềm vinh hạnh của chúng tôi.
                        </p>
                        <!-- <div class="social-link with-border">
                            <ul>
                                <li>
                                    <a href="#" data-tippy="Facebook" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-tippy="Twitter" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-tippy="Pinterest" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder">
                                        <i class="fa fa-pinterest"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-tippy="Dribbble" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder">
                                        <i class="fa fa-dribbble"></i>
                                    </a>
                                </li>
                            </ul>
                        </div> -->
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 pt-40">
                    <div class="footer-widget-item">
                        <h3 class="footer-widget-title">Sản Phẩm</h3>
                        <ul class="footer-widget-list-item">
                            <li>
                                <a href="#">Tủ Bếp</a>
                            </li>
                            <li>
                                <a href="#">Cửa Gỗ</a>
                            </li>
                            <li>
                                <a href="#">Tủ Quần Áo</a>
                            </li>
                            <li>
                                <a href="#">Cầu Thang</a>
                            </li>
                            <li>
                                <a href="#">Trần Gỗ</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 pt-40">
                    <div class="footer-widget-item">
                        <h3 class="footer-widget-title">Giới thiệu</h3>
                        <ul class="footer-widget-list-item">
                            <li>
                                <a href="#">Về đồ gỗ tín phúc</a>
                            </li>
                            <li>
                                <a href="#">Địa chỉ liên hệ</a>
                            </li>
                            <li>
                                <a href="#">Showroom</a>
                            </li>
                            <li>
                                <a href="#">Kho xưởng</a>
                            </li>
                            <li>
                                <a href="#">Trợ giúp</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 pt-40">
                    <div class="footer-widget-item">
                        <h3 class="footer-widget-title">Liên Hệ</h3>
                        <ul class="footer-widget-list-item">
                            <li>
                                <a href="#">Địa chỉ : 30/10b Quốc Lộ 22, Hóc Môn, Thành Phố Hồ Chí Minh</a>
                            </li>
                            <li>
                                SĐT : <a class="number" href="tel://0908954669">0908 954 669</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 pt-40">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d244.90297324699932!2d106.60820028017972!3d10.853522864292168!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752a38d733c531%3A0x3ef2de7492982050!2zMzAvMTBCIChL4bq_IDMwKSBRdeG7kWMgTOG7mSAyMg!5e0!3m2!1svi!2s!4v1637153569359!5m2!1svi!2s" height="200" style="border:0; width: 100%;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="copyright">
                        <span class="copyright-text">
                            © 2021 Website Đồ Gỗ Tín Phúc - Developer
                            <a href="#" rel="noopener" target="_blank">AnhTQT</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>