<header class="main-header-area">
    <div class="header-middle">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="header-middle-wrap position-relative">
                        <div class="header-contact d-none d-lg-flex">
                            <i class="pe-7s-call"></i>
                            <a href="tel://0908954669">0908 954 669</a>
                        </div>

                        <a href="/" class="header-logo">
                            <img src="assets/images/Logo3-Nospace.png" alt="Header Logo" style="height: 50px; padding: 10px;">
                        </a>
                        <div class="header-right">
                            <ul>
                                <li>
                                    <a href="#exampleModal" class="search-btn bt" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                        <i class="pe-7s-search"></i>
                                    </a>
                                </li>
                                <li class="mobile-menu_wrap d-block d-lg-none">
                                    <a href="#mobileMenu" class="mobile-menu_btn toolbar-btn pl-0">
                                        <i class="pe-7s-menu"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom d-none d-lg-block">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="main-menu position-relative">
                        <nav class="main-nav">
                            <ul>
                                <li class="drop-holder">
                                    <a href="/">Trang Chủ</a>
                                </li>
                                <li class="megamenu-holder">
                                    <a href="/san-pham">Sản Phẩm</a>
                                    <ul class="drop-menu megamenu">
                                        <li>
                                            <span class="title">Phòng Khách</span>
                                            <ul>
                                                <li>
                                                    <a href="#">Cửa Gỗ</a>
                                                </li>
                                                <li>
                                                    <a href="#">Trần Gỗ</a>
                                                </li>
                                                <li>
                                                    <a href="#">Sofa</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <span class="title">Phòng ngủ</span>
                                            <ul>
                                                <li>
                                                    <a href="#">Giường Ngủ Gỗ</a>
                                                </li>
                                                <li>
                                                    <a href="#">Bàn Trang Điểm</a>
                                                </li>
                                                <li>
                                                    <a href="#">Tủ Quần Áo</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <span class="title">Phòng bếp</span>
                                            <ul>
                                                <li>
                                                    <a href="#">Tủ Bếp</a>
                                                </li>
                                                <li>
                                                    <a href="#">Kệ Bếp</a>
                                                </li>
                                                <li>
                                                    <a href="#">Bàn Ăn</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="drop-holder">
                                    <a href="blog.html">Dịch vụ</a>
                                    <ul class="drop-menu">
                                        <li>
                                            <a href="blog-listview.html">Tư Vấn Nội Thất</a>
                                        </li>
                                        <li>
                                            <a href="blog-detail.html">Thiết Kế Nội Thất</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="about.html">Giới Thiệu</a>
                                </li>
                                <li class="drop-holder">
                                    <a href="#">Liên Hệ</a>
                                    <ul class="drop-menu">
                                        <li>
                                            <a href="faq.html">Cửa Hàng</a>
                                        </li>
                                        <li>
                                            <a href="404.html">Kho Xưởng</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-sticky py-lg-0">
        <div class="container">
            <div class="header-nav position-relative">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-6">
                        <a href="/" class="header-logo">
                            <img src="assets/images/Logo3-Nospace.png" alt="Header Logo" style="height: 50px; padding: 10px;">
                        </a>
                    </div>
                    <div class="col-lg-6 d-none d-lg-block">
                        <div class="main-menu">
                            <nav class="main-nav">
                                <ul>
                                    <li class="drop-holder">
                                        <a href="/">Trang Chủ</a>
                                    </li>
                                    <li class="megamenu-holder">
                                        <a href="/san-pham">Sản Phẩm</a>
                                        <ul class="drop-menu megamenu">
                                            <li>
                                                <span class="title">Phòng Khách</span>
                                                <ul>
                                                    <li>
                                                        <a href="#">Cửa Gỗ</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Trần Gỗ</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Sofa</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <span class="title">Phòng ngủ</span>
                                                <ul>
                                                    <li>
                                                        <a href="#">Giường Ngủ Gỗ</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Bàn Trang Điểm</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Tủ Quần Áo</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <span class="title">Phòng bếp</span>
                                                <ul>
                                                    <li>
                                                        <a href="#">Tủ Bếp</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Kệ Bếp</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Bàn Ăn</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="drop-holder">
                                        <a href="blog.html">Dịch vụ</a>
                                        <ul class="drop-menu">
                                            <li>
                                                <a href="blog-listview.html">Tư Vấn Nội Thất</a>
                                            </li>
                                            <li>
                                                <a href="blog-detail.html">Thiết Kế Nội Thất</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="about.html">Giới Thiệu</a>
                                    </li>
                                    <li class="drop-holder">
                                        <a href="#">Liên Hệ</a>
                                        <ul class="drop-menu">
                                            <li>
                                                <a href="faq.html">Cửa Hàng</a>
                                            </li>
                                            <li>
                                                <a href="404.html">Kho Xưởng</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6">
                        <div class="header-right">
                            <ul>
                                <li>
                                    <a href="#exampleModal" class="search-btn bt" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                        <i class="pe-7s-search"></i>
                                    </a>
                                </li>
                                <li class="mobile-menu_wrap d-block d-lg-none">
                                    <a href="#mobileMenu" class="mobile-menu_btn toolbar-btn pl-0">
                                        <i class="pe-7s-menu"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mobile-menu_wrapper" id="mobileMenu">
        <div class="offcanvas-body">
            <div class="inner-body">
                <div class="offcanvas-top">
                    <a href="#" class="button-close"><i class="pe-7s-close"></i></a>
                </div>
                <div class="header-contact offcanvas-contact">
                    <i class="pe-7s-call"></i>
                    <a href="tel://0908954669">0908 954 669</a>
                </div>
                <div class="offcanvas-menu_area">
                    <nav class="offcanvas-navigation">
                        <ul class="mobile-menu">
                            <li class="menu-item-has-children">
                                <a href="/">
                                    <span class="mm-text">
                                        Trang Chủ
                                    </span>
                                </a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#">
                                    <span class="mm-text">
                                        Sản Phẩm
                                        <i class="pe-7s-angle-down"></i>
                                    </span>
                                </a>
                                <ul class="sub-menu">
                                    <li class="menu-item-has-children">
                                        <a href="#">
                                            <span class="mm-text">
                                                Phòng Khách
                                                <i class="pe-7s-angle-down"></i>
                                            </span>
                                        </a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="/san-pham">
                                                    <span class="mm-text">Cửa Gỗ</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="shop-grid-fullwidth.html">
                                                    <span class="mm-text">Trần Gỗ</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="shop-right-sidebar.html">
                                                    <span class="mm-text">Sofa</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="#">
                                            <span class="mm-text">
                                                Phòng Ngủ
                                                <i class="pe-7s-angle-down"></i>
                                            </span>
                                        </a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="/san-pham/giuong-ngu-go">
                                                    <span class="mm-text">Giường Ngủ Gỗ</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/san-pham/ban-tran-diem">
                                                    <span class="mm-text">Bàn Trang Điểm</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/san-pham/tu-quan-ao">
                                                    <span class="mm-text">Tủ Quần Áo</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="#">
                                            <span class="mm-text">
                                                Phòng Bếp
                                                <i class="pe-7s-angle-down"></i>
                                            </span>
                                        </a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="/san-pham">
                                                    <span class="mm-text">Tủ Bếp</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="shop-grid-fullwidth.html">
                                                    <span class="mm-text">Kệ Bếp</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="shop-right-sidebar.html">
                                                    <span class="mm-text">Bàn Ăn</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#">
                                    <span class="mm-text">
                                        Dịch vụ
                                        <i class="pe-7s-angle-down"></i>
                                    </span>
                                </a>
                                <ul class="sub-menu">
                                    <li class="menu-item-has-children">
                                        <a href="#">
                                            <span class="mm-text">
                                                Tư Vấn Nội Thất
                                                <i class="pe-7s-angle-down"></i>
                                            </span>
                                        </a>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="#">
                                            <span class="mm-text">
                                                Thi Công Nội Thất
                                                <i class="pe-7s-angle-down"></i>
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="contact.html">
                                    <span class="mm-text">Giới Thiệu</span>
                                </a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#">
                                    <span class="mm-text">
                                        Liên Hệ
                                        <i class="pe-7s-angle-down"></i>
                                    </span>
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="faq.html">
                                            <span class="mm-text">Cửa Hàng</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="404.html">
                                            <span class="mm-text">Kho Xưởng</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModal" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content modal-bg-dark">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" data-tippy="Close" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder">
                    </button>
                </div>
                <div class="modal-body">
                    <div class="modal-search">
                        <span class="searchbox-info">Nhập Chữ Để Bắt Đầu Tìm Kiếm Hoặc Nhấn ESC Để Đóng</span>
                        <form action="#" class="hm-searchbox">
                            <input type="text" name="Search..." value="Tìm kiếm..." onblur="if(this.value==''){this.value='Tìm kiếm...'}" onfocus="if(this.value=='Tìm kiếm...'){this.value=''}" autocomplete="off">
                            <button class="search-btn" type="submit" aria-label="searchbtn">
                                <i class="pe-7s-search"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
